@font-face {
  font-family: 'Arial MT';
  src: url('../fonts/ARIALMT.eot');
  src: url('../fonts/ARIALMT.eot') format('embedded-opentype'),
  url('../fonts/ARIALMT.woff2') format('woff2'),
  url('../fonts/ARIALMT.woff') format('woff'),
  url('../fonts/ARIALMT.ttf') format('truetype'),
  url('../fonts/ARIALMT.svg#ARIALMT') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Arial - Bold MT';
  src: url('../fonts/ArialBoldMT.eot');
  src: url('../fonts/ArialBoldMT.eot') format('embedded-opentype'),
  url('../fonts/ArialBoldMT.woff2') format('woff2'),
  url('../fonts/ArialBoldMT.woff') format('woff'),
  url('../fonts/ArialBoldMT.ttf') format('truetype'),
  url('../fonts/ArialBoldMT.svg#ArialBoldMT') format('svg');
  font-weight: 700;
  font-style: normal;
}